@-webkit-keyframes slide-down {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0px;
  }
}

@keyframes slide-down {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0px;
  }
}

.owl-nav {
  margin-top: 0;
  display: none;
}

.owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body {
  overflow: hidden;
}

body .preloader {
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 999;
  background-color: black;
}

body .preloader .loader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

body .preloader .loader div {
  width: 60px;
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 50%;
}

body .preloader .loader div:before, body .preloader .loader div:after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
}

body .preloader .loader div:before {
  background-color: peachpuff;
  -webkit-animation: scale-1 2400ms linear infinite;
          animation: scale-1 2400ms linear infinite;
}

body .preloader .loader div:after {
  background-color: #498d66;
  -webkit-animation: scale-2 2400ms linear infinite;
          animation: scale-2 2400ms linear infinite;
}

body .preloader .loader div:nth-child(2):before, body .preloader .loader div:nth-child(2):after {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

body .preloader .loader div:nth-child(3):before, body .preloader .loader div:nth-child(3):after {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

body .preloader .loader div:nth-child(4):before, body .preloader .loader div:nth-child(4):after {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

body .preloader .loader div:nth-child(5):before, body .preloader .loader div:nth-child(5):after {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

body .preloader .loader div:nth-child(6):before, body .preloader .loader div:nth-child(6):after {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

body .preloader .loader div:nth-child(7):before, body .preloader .loader div:nth-child(7):after {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

body .preloader .loader div:nth-child(8):before, body .preloader .loader div:nth-child(8):after {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

body .preloader .loader div:nth-child(9):before, body .preloader .loader div:nth-child(9):after {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

@-webkit-keyframes scale-1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    z-index: 2;
  }
  50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    z-index: 2;
  }
  50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale-2 {
  0%, 50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-2 {
  0%, 50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body.loaded {
  overflow: auto !important;
}

body.loaded .preloader {
  opacity: 0 !important;
  visibility: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 18pt;
  }
}

body {
  background-image: url(../img/christian-rebero-twahirwa-ggtFONGaWTo-unsplash.jpg);
  background-size: cover;
  padding: 0;
}

body::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #0f0f0f99;
  z-index: -1;
}

.wrapper {
  padding: 0 10%;
}

@media screen and (max-width: 435px) {
  .wrapper {
    padding: 0 5%;
  }
}

@media screen and (max-width: 390px) {
  .wrapper {
    padding: 0 2%;
  }
}

form {
  padding: 20px;
  background-color: #1e1e1e;
}

form label {
  color: white;
  display: block;
  margin-top: 20px;
}

form input {
  background-color: #dfdede4d;
  border: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
  color: #ffffffce;
  font-size: 100%;
  width: 100%;
  margin-bottom: 20px;
}

form .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 635px) {
  form .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0px;
  }
}

form .row .cell {
  padding-right: 20px;
}

@media screen and (max-width: 635px) {
  form .row .cell {
    padding-right: 0px;
  }
}

form .option {
  padding: 10px;
  border: none;
  background-color: #dfdede4d;
  padding: 10px;
  display: block;
  border-radius: 5px;
  color: #ffffffce;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;
}

form .option:nth-of-type(1), form .option:nth-of-type(2) {
  margin-right: 10px;
}

form .option.active {
  border: 3px white solid;
}

form .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #498d66;
  border: none;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: 600;
}

form button:hover {
  background-color: #3d835b;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */